.tabs-container {
    color: #fff;
    margin-top: 1rem;
    border-radius: 1rem;
}

.tabs-container li {
    list-style: none;
    font-size: var(--text-2xl);
}

.link:hover {
    opacity: 0.5;
}

.active {
    color:#64ffda;
   
}

.btn {
    display: block;
    font-family: "open sans";
    /* background-color: #fff; */
    outline: none;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    color:#fff;
    font-size: var(--text-xl);
    font-weight: 600;
    text-align: left;
    border-radius:0.2rem;
    background: transparent;
    transition: all 5ms;
  }
  
   .btn:hover {
    opacity: 0.8;
 
    /* background-color: #292035; */
    
  } 
  
  .btn-active {
    font-family: "open sans";
    color:#64ffda;
    font-weight: 600;
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: var(--text-xl);
    text-align: left;
    border-radius:0.2rem;
    background: transparent; 
  }

  @media (max-width: 32rem) {
  .experience-section-content {
    flex-direction: column;    
  }
  .btn {
    display: inline;
    padding: 1rem 3rem;
   
  }
  .btn-active {
    display: inline;
    padding: 1rem 3rem;
  }

}